.body {
    display: flex;
    flex-direction: column;
    background: none;
}

.body .bg_img {
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HEADER */
.header {
    position: relative;
    z-index: 10;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 24px 16px;
}

@media screen and (min-width: 1040px) {
    .header {
        padding: 48px 72px 0px;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

.header .logo > svg {
    height: 40px;
    width: 140.56px;
    fill: rgb(252, 252, 252);
    padding-right: 32px;
}


@media screen and (min-width: 1040px) {
    .header .logo > svg {
        height: 64px;
        width: 168.67px;
        fill: rgb(252, 252, 252);
        padding-right: 32px
    }
}