.body {
    display: flex;
    flex-direction: column;
    background: none;
}

.body .bg_img {
    display: none;
}

.body .bg_img_2 {
    display: block;
}

.body .bg_img, .body .bg_img_2, .body .bg_over {
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body .bg_over {
    z-index: 2;
    background: linear-gradient(to bottom, #00000000 0%, rgba(30, 30, 30, 0.25) 75%);
}

/* HEADER */
.header {
    position: relative;
    z-index: 10;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 24px 16px;
}

.header .logo > svg {
    height: 40px;
    width: 140.56px;
    fill: rgb(252, 252, 252);
    padding-right: 32px;
}

/* FORM CONTENT */
.main_content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -5px;
    width: 100%;
    height: max-content;
}

.main_content .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: #ffffff;
    width: 71%;
    /* min-width: 566px; */
    padding: 32px;
}

.main_content .form .heading {
    padding-top: 48px;
    font-size: 25.63px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: none;
    text-align: inherit;
    color: rgb(0, 0, 0);
    width: max-content;
}

.main_content .form .input_div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(186, 186, 186, 0.1);
    width: 100%;
    max-width: 498px;
    height: 60px;
    border-radius: 3px;
    transition: .1s outline .1s ease-in-out;
}

.main_content .form .input_div:hover,
.main_content .form .input_div:focus-within {
    background-color: rgba(186, 186, 186, 0.2);
}

.main_content .form .input_div span {
    color: rgb(102, 102, 102);
    width: 100%;
    padding: 10px 0 0 10px ;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.main_content .form .input_div label {
    position: absolute;
    left: 16px;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    opacity: 1;
    height: 17.33px;
    pointer-events: none;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
}

.main_content .form .input_div .input {
    background: transparent;
    border: none;
    padding: 5px 8px 8px 10px;
    box-sizing: border-box;
    display: block;
    outline: none;
    width: 100%;
    color: rgb(31, 31, 31);
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
}

.main_content .form .input_div:focus-within {
    outline: 2px solid #000000;
}

.main_content .form .input_div:focus-within span {
    opacity: 1;
}

.main_content .form .input_div:focus-within label {
    opacity: 0 !important;
}

.main_content .form .cta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
}

.main_content .form .cta .btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 8px;
    border-radius: 15px;
    outline: 1px solid #00000010;
}

.main_content .form .cta .btn.facebook_btn {
    background: #1877F2;
}
.main_content .form .cta .btn.facebook_btn:hover {
    background: rgb(9, 102, 222);
}

.main_content .form .cta .btn.google_btn {
    background: #ffffff;
}
.main_content .form .cta .btn.google_btn:hover {
    background: rgb(247, 247, 247);
}

.main_content .form .cta .btn.apple_btn {
    background: #000000;
}
.main_content .form .cta .btn.apple_btn:hover {
    background: rgb(20, 20, 20);
}

.main_content .form .cta .btn.xbox_btn {
    background: #107C10;
}
.main_content .form .cta .btn.xbox_btn:hover {
    background: rgb(7, 105, 7);
}

.main_content .form .cta .btn .icon {
    font-size: 27px;
    height: 27px;
    width: 27px;
    text-align: center;
    color: #ffffff;
}

.main_content .form .cta .btn .google_icon_1 {
    display: block;
}

.main_content .form .cta .btn .google_icon_2 {
    display: none;
}

/* STAY LOGGED IN CHECKBOX */
.main_content .stay_div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .5rem;
    width: 100%;
}

.main_content .stay_div .checkbox_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border-radius: 2px;
    overflow: hidden;
    background: rgba(186, 186, 186, 0.3);
}

.main_content .stay_div .checkbox_div .checkbox_bg {
    display: block;
    background: #D53235;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease-in-out;
}
.main_content .stay_div .checkbox_div .checkbox_bg.show {
    opacity: 1;
}

.main_content .stay_div .checkbox_div .tick {
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    fill: transparent;
    align-self: baseline;
    stroke: rgb(249, 249, 249);
    padding: 3px 5px 5px;
    stroke-width: 5;
    opacity: 0;
    transition: .1 .2s;
}
.main_content .stay_div .checkbox_div .tick.show {
    opacity: 1;
}

.main_content .stay_div .checkbox_div .input {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.main_content .stay_div .text {
    font-size: 12px;
}

/* HUGE BUTTON */
.main_content .rest {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 71%;
    padding-bottom: 3rem;
}

.main_content .rest .huge_btn {
    height: 72px;
    width: 72px;
    color: rgb(252, 252, 252);
    font-size: 20px;
    font-weight: 700;
    border: 2px solid rgba(173, 173, 173, 0.3);
    border-radius: 33px;
    cursor: not-allowed;
}

.main_content .rest .huge_btn .icon {
    height: 24px;
    width: 24px;
    fill: rgb(173, 173, 173);
    cursor: not-allowed;
}

.main_content .rest .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.main_content .rest .links .link {
    color: rgb(74, 74, 74);
    font-size: .8rem;
    font-weight: 600;
}

.main_content .rest .links .link:hover {
    color: #000000;
}

/* FOOTER */
.footer {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 3rem;
}

.footer .select_lang {
    background: rgba(235, 235, 235, 0.2);
    color: #ffffff;
    width: 60px;
    padding: 0 10px;
    border-radius: 10px;appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
.footer .select_lang:after {
    content: '\e894';
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 10px;
    color: #000000;
    transform: translateY(-50%);
    pointer-events: none; 
}

.footer .select_lang:focus {
    outline: 1px solid #ffffff;
    border: 2px solid #000000;
}

.footer .select_lang .option {
    color: #000000;
}

.footer .footer_links {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.footer .footer_links .link {
    font-weight: 600;
    font-size: .75rem;
    color: rgb(173, 173, 173);
}

.footer .footer_links .link:hover {
    color: #ffffff;
}

.footer .copyright {
    font-size: .75rem;
    font-weight: 600;
    color: rgb(173, 173, 173);
}

.footer .copyright .link {
    color: #ffffff;
    text-decoration: underline;
}


@media (max-width: 640px) {
    .main_content .form, .main_content .rest {
        width: 90%;
    }
}


@media screen and (min-width: 1040px) {
    /* HEADER */
    .header {
        padding: 48px 72px 0px;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    .header .logo > svg {
        height: 64px;
        width: 168.67px;
        fill: rgb(252, 252, 252);
        padding-right: 32px
    }

    /* BACKGROUND IMAGES */
    .body .bg_img {
        display: block;
    }

    .body .bg_img_2 {
        display: none;
    }

    /* FORM */
    .main_content .form .input_div {
        height: 44px;
    }

    .main_content .form .input_div span {
        font-size: 9px;
    }

    .main_content .form .input_div label {
        font-size: 10px;
    }
    
    .main_content .form .input_div .input {
        font-size: 16px;
    }

    /* SOCIAL BUTTON ICONS */
    .main_content .form .cta .btn {
        padding: 5px;
        border-radius: 10px;
    }

    .main_content .form .cta .btn .icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
    }

    .main_content .form .cta .btn .google_icon_2 {
        display: block;
    }

    .main_content .form .cta .btn .google_icon_1 {
        display: none;
    }

    /* HUGE BUTTON */
    .main_content .form, .main_content .rest {
        width: 30%;
    }
    
    .main_content .stay_div .checkbox_div {
        height: 18px;
        width: 18px;
    }

    .main_content .stay_div .checkbox_div .checkbox_bg.show {
        opacity: 1;
    }

    .main_content .stay_div .checkbox_div .tick {
        font-size: 12px;
        padding: 3px 5px 5px;
        stroke-width: 5;
    }

    /* HUGE BUTTON */
    .main_content .rest .huge_btn .icon {
        height: 32px;
        width: 32px;
        fill: rgb(173, 173, 173);
    }

    .main_content .rest .huge_btn {
        height: 88px;
        width: 88px;
    }

    /* FOOTER */
    .footer {
        align-items: start;
    }
}
